<<<<<<< HEAD
body {
  color: white;
}

@media (width > 700px) {
  body {
    background-color: blue;
  }
}

@media (width < 700px) {
  main section {
    padding: 10px;
    color: black;
  }

  main section article {
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #1a1a1a;
  }
}

=======
main {
  border: 1px solid black;
  width: 275px;
  border-radius: 12px;
  background: #1F1F1F;
  padding: 16px;
}

img{
  width: 100%;
  border-radius: 12px;
}

h1 {
  color: #fff;
  font-family: Arial;
  font-size: 25px;
  text-align: center; /*Centras txt*/
}

h2 {
  color: #88A34A;
  font-family: Arial;
  font-size: 15px;
  text-align: center;
}

p {
  color: #fff;
  font-family: Arial;
  font-size: 13px;
  text-align: center;
}

button{
  background: #333333;
  height: 40px;
  width: 100%;
  color: #fff;
  font-family: Arial;
  font-weight: 600;
  margin-bottom: 16px;
  border-radius: 8px;
  border: none;
}
>>>>>>> 00909f9667141befbd5276f32038f525be2bfb64
